.pt_custommenu {
    position:relative;
    z-index:1000;
    font-size: 14px;
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid #efefef;
    
}
.cms-index-index .pt_custommenu { border: 0;}
.pt_custommenu div.pt_menu {
    float: left;
}


.pt_custommenu div.popup {
    position:absolute;
    z-index:3000;
    background-color:#fff;
    text-align:left;
    width: 904px;
    padding: 0;
    margin: 0;
}

.pt_custommenu div.popup a {
    text-decoration: none;
    display:block;
    line-height: 32px;
}


.pt_custommenu .itemMenu h4.level1,
.pt_custommenu .itemMenu a.level1{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    color: #333;
}
.pt_custommenu .itemMenu h4.level1:hover,
.pt_custommenu .itemMenu a.level1:hover {
    text-decoration: underline;
}
.pt_custommenu .itemSubMenu h4.level2,
.pt_custommenu .itemSubMenu a.level2,
.pt_custommenu .itemSubMenu h4.level3,
.pt_custommenu .itemSubMenu a.level3{
    color: #555;
    text-transform: none;
    font-weight: normal;
    font-size: 13px;
    text-transform: capitalize;
}
.pt_custommenu .itemSubMenu a.level2:hover,
.pt_custommenu .itemMenu a.level1.nochild:hover{
    text-decoration: underline;
}
.pt_custommenu div.popup a.actParent {
    text-decoration: underline;
}
.pt_custommenu div.popup a.act {
    text-decoration: underline !important;
}
.pt_custommenu div.column {
    float:left;
    width:200px; /* column width */
    margin-right: 10px;
}
.pt_custommenu div.column.last {
    border-right: 0 none;
    margin-right: 0;
    padding-right: 0;
}
.pt_custommenu div.itemSubMenu {
}

.pt_custommenu .block2{
    float: left;
    padding: 30px;
    border: 1px solid #f0eeef;
    border-top-color: #f8f8f8;
}
#block2_pt_item_menu_custom_menu .static_block_custom_menu { width: 938px;}
#block2_pt_item_menu_custom_menu .static_block_custom_menu ul li { float: left; }
.pt_custommenu div.popup .block1{
    overflow: hidden;
    float: left;
    padding: 30px;
    border: 1px solid #f0eeef;
    border-top-color: #f8f8f8;
}
.pt_custommenu div.popup .block1 .column{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
.pt_custommenu div.popup .blockright img{
    max-width: 100%;
} 

.pt_custommenu div.pt_menu .parentMenu p{
    margin: 0;
    padding: 0;
}
.pt_custommenu #pt_menu_link{
    padding: 0;
}
.pt_custommenu #pt_menu_link .parentMenu ul li{
    float: left;
    list-style: none;
}
.pt_custommenu #pt_menu_link .parentMenu ul li a{
    float: left;
    padding: 0 10px;
    display: block;
}
.pt_custommenu .clearBoth {
    clear:both;
}

