.ma-brand-slider-contain .bx-wrapper { position: relative;}
.ma-brand-slider-contain  { padding: 20px 0; background: #fdfdfd; }
.ma-brand-slider-contain .container-inner { padding: 20px 0;}
.ma-brand-slider-contain  .brand-title { background: #666; padding: 10px 0 10px 10px; margin-bottom: 20px; display: none;}
.brand-title h2 { color: #fff; text-transform: capitalize; font-weight: normal; line-height: 20px; margin: 0;}

