<?xml version="1.0"?>
  <config>
     <modules>
        <Gode_DestaquesSlider>
          <version>1.0</version>
        </Gode_DestaquesSlider>
     </modules>
     <frontend>
       <routers>
          <routeurfrontend>
              <use>standard</use>
              <args>
                 <module>Gode_DestaquesSlider</module>
                 <frontName>destaques</frontName>
              </args>
           </routeurfrontend>
       </routers>
       <layout>
         <updates>
              <destaquesslider>
                   <file>gode_destaquesslider.xml</file>
               </destaquesslider>
          </updates>
      </layout>
    </frontend>
    <admin>
      <routers>
        <destaquesslider>
          <use>admin</use>
          <args>
            <module>Gode_DestaquesSlider</module>
            <frontName>admindestaquesslider</frontName>
          </args>
        </destaquesslider>
      </routers>
    </admin>
    <adminhtml>
      <layout>
        <updates>
          <gode_destaquesslider>
            <file>gode_destaquesslider.xml</file>
          </gode_destaquesslider>
        </updates>
      </layout>
      <menu>
        <destaquesslider translate="title" module="adminhtml">
          <title>Home Sliders</title>
          <sort_order>100</sort_order>
          <children>
            <set_time>
              <title>Lista de Sliders</title>
              <action>admindestaquesslider/adminhtml_index</action>
            </set_time>
          </children>
        </destaquesslider>
      </menu>
    </adminhtml>
    <global>
      <blocks>
        <gode_destaquesslider>
          <class>
            Gode_DestaquesSlider_Block
          </class>
        </gode_destaquesslider>
      </blocks>
      <helpers>
        <gode_destaquesslider>
          <class>
            Gode_DestaquesSlider_Helper
          </class>
        </gode_destaquesslider>
      </helpers>
      <models>
          <gode_destaquesslider>
               <class>Gode_DestaquesSlider_Model</class>
               <resourceModel>gode_destaquesslider_resource</resourceModel>
           </gode_destaquesslider>
          <gode_destaquesslider_resource>
               <class>Gode_DestaquesSlider_Model_Resource</class>
               <entities>
                   <destaquesslider>
                     <table>destaques_slider</table>
                   </destaquesslider>
                </entities>
          </gode_destaquesslider_resource>
      </models>
      <resources>
              <gode_destaquesslider_setup>
                <setup>
                  <module>Gode_DestaquesSlider</module>
                </setup>
                <connection>
                  <use>core_setup</use>
                </connection>
              </gode_destaquesslider_setup>
              <!-- connection pour ecrire -->
              <gode_destaquesslider_write>
                  <connection>
                      <use>core_write</use>
                  </connection>
              </gode_destaquesslider_write>
              <!-- connection pour lire-->
             <gode_destaquesslider_read>
                <connection>
                   <use>core_read</use>
                </connection>
             </gode_destaquesslider_read>
      </resources>
    </global>
</config>
