@import "compass/css3";
@import "base";
@import "mobile_only";
@import "cart";
@import "opc";
@import "my_account";

#hamburger{
  // position:relative;
  width:40px;
  height:40px;
  padding:0px;
  margin:10px 10px;
  cursor:pointer;
  right: 0vw;
  transition: all 600ms ease;
  #el{
    cursor:pointer;
    width:40px;
    padding:0px;
    height:3px;
    background:black;
    box-shadow: 1px 1px 1px white;
    border:0px transparent;
    text-indent:-999px;
    position:absolute;
    top:50%;
    left:0px;
    margin-top:-1px;
    -webkit-appearance:none;
    line-height:0px;
    transition: all 300ms ease;
    border-radius:99px;
    &:active, &:focus{
      outline:0px;
      border:0px;
    }
    &::after, &::before{
      box-shadow: 1px 1px 1px white;
      display:block;
      content: "";
      position:absolute;
      left:0px;
      height:3px;
      background:black;
      width:100%;
      transition: all 300ms ease;
      border-radius:99px;
    }
    &::after{
      top:-15px;
      }
    &::before{
      bottom:-15px;
      left:auto;
      right:0px;
      }
  }
  
  &.active{
    transform: rotate(360deg);
    right: 80vw;
    #el{
      background:transparent;
      &:after{
        transform: rotate(-135deg) translate(-10px, -10px) scale(1.2,1.2);
      }
      &:before{
        transform: rotate(135deg) translate(-10px, 10px) scale(1.2,1.2);
      }
    }
  }
}

.cor-wrap {
  height: 50px;
  border-left: 10px solid #F9F9F9;
  border-bottom: 1px solid #EEEEEE;
  li {
    width: 30px;
    float: left;
    height: 50px;
    margin-left: 1px;
    border: none;
    a {
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.cor:first-of-type {
  margin-left: 5px;
}

span.nav-cor-sample {
    width: 35px;
    height: 35px;
    display: block;
    margin: 5px;
    float: left;
}

.cor-yellow, .cor-amarillo, .cor-amarelo {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-1 -1 37 37" enable-background="new 0 0 37 37" xml:space="preserve"><g id="Layer_2"><g><path fill="#FECC40" d="M17.5,0C7.8,0,0,7.8,0,17.5C0,27.2,7.8,35,17.5,35C27.2,35,35,27.2,35,17.5C35,7.8,27.2,0,17.5,0z M10.6,21c-1.2,0-2.2-1-2.2-2.2c0-1.2,1-2.2,2.2-2.2c1.2,0,2.2,1,2.2,2.2C12.7,20,11.8,21,10.6,21z"/></g></g></svg>');
 // background-color: #FECC40;
}

.cor-blue, .cor-azul {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-1 -1 37 37" enable-background="new 0 0 37 37" xml:space="preserve"><g id="Layer_2"><g><path fill="#2091C9" d="M17.5,0C7.8,0,0,7.8,0,17.5C0,27.2,7.8,35,17.5,35C27.2,35,35,27.2,35,17.5C35,7.8,27.2,0,17.5,0z M10.6,21c-1.2,0-2.2-1-2.2-2.2c0-1.2,1-2.2,2.2-2.2c1.2,0,2.2,1,2.2,2.2C12.7,20,11.8,21,10.6,21z"/></g></g></svg>');
 // background-color: #2091C9;
}

.cor-white, .cor-blanco, .cor-branco {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-1 -1 37 37" enable-background="new 0 0 37 37" xml:space="preserve"><g id="Layer_2"><g><path stroke="#000" stroke-alignment="inner" stroke-width="1" fill="#FFF" d="M17.5,0C7.8,0,0,7.8,0,17.5C0,27.2,7.8,35,17.5,35C27.2,35,35,27.2,35,17.5C35,7.8,27.2,0,17.5,0z M10.6,21c-1.2,0-2.2-1-2.2-2.2c0-1.2,1-2.2,2.2-2.2c1.2,0,2.2,1,2.2,2.2C12.7,20,11.8,21,10.6,21z"/></g></g></svg>');
 // background-color: #FFF;
}

.cor-brown, .cor-marrón, .cor-castanho {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-1 -1 37 37" enable-background="new 0 0 37 37" xml:space="preserve"><g id="Layer_2"><g><path fill="#A5722B" d="M17.5,0C7.8,0,0,7.8,0,17.5C0,27.2,7.8,35,17.5,35C27.2,35,35,27.2,35,17.5C35,7.8,27.2,0,17.5,0z M10.6,21c-1.2,0-2.2-1-2.2-2.2c0-1.2,1-2.2,2.2-2.2c1.2,0,2.2,1,2.2,2.2C12.7,20,11.8,21,10.6,21z"/></g></g></svg>');
  // background-color: #A5722B;
}

.cor-green, .cor-verde {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-1 -1 37 37" enable-background="new 0 0 37 37" xml:space="preserve"><g id="Layer_2"><g><path fill="#7AC556" d="M17.5,0C7.8,0,0,7.8,0,17.5C0,27.2,7.8,35,17.5,35C27.2,35,35,27.2,35,17.5C35,7.8,27.2,0,17.5,0z M10.6,21c-1.2,0-2.2-1-2.2-2.2c0-1.2,1-2.2,2.2-2.2c1.2,0,2.2,1,2.2,2.2C12.7,20,11.8,21,10.6,21z"/></g></g></svg>');
 // background-color: #7AC556;
}

.cor-red, .cor-rojo, .cor-vermelho {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-1 -1 37 37" enable-background="new 0 0 37 37" xml:space="preserve"><g id="Layer_2"><g><path fill="#FC462C" d="M17.5,0C7.8,0,0,7.8,0,17.5C0,27.2,7.8,35,17.5,35C27.2,35,35,27.2,35,17.5C35,7.8,27.2,0,17.5,0z M10.6,21c-1.2,0-2.2-1-2.2-2.2c0-1.2,1-2.2,2.2-2.2c1.2,0,2.2,1,2.2,2.2C12.7,20,11.8,21,10.6,21z"/></g></g></svg>');
 // background-color: #FC462C;
}

.cor-black, .cor-negro, .cor-preto {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-1 -1 37 37" enable-background="new 0 0 37 37" xml:space="preserve"><g id="Layer_2"><g><path fill="#000" d="M17.5,0C7.8,0,0,7.8,0,17.5C0,27.2,7.8,35,17.5,35C27.2,35,35,27.2,35,17.5C35,7.8,27.2,0,17.5,0z M10.6,21c-1.2,0-2.2-1-2.2-2.2c0-1.2,1-2.2,2.2-2.2c1.2,0,2.2,1,2.2,2.2C12.7,20,11.8,21,10.6,21z"/></g></g></svg>');
  // background-color: #000;
}



.top-cart-wrapper {
  border-radius: 5px;
}

.store-language {
  text-align: left;
}

.header .header-content {
  padding: 20px 0;
}

#search_mini_form {
  float: left;
}

.top-cart-wrapper {
  width: auto;
  .top-cart-contain {
    padding: 0px 10px;
  }
}

.form-language {
  line-height: 27px;
}

.header {
  .logo {
    img {
      height: 70px;
    }
  }
}

.logo {
  margin: 0px;
}

.related-title {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.cart-mobile-wrapper {
  display: flex!important;
  align-items: center;
}

.item-inner .des-container {
  text-align: center;
  padding-right: 0px;
  font: 100% $roboto;
}

.add-to-links {
  display: none;
}
.item-inner .des-container .actions .add-to-links li a.link-wishlist {
  background-image: none;
}

.item-inner .des-container .actions .add-to-links li a.link-compare {
  background-image: none;
}
.item-inner .des-container .actions .add-to-links li a {
  text-indent: 0;
}

$color-shadow: #777;
.paper-effect
{
  position: relative;
  &:before, &:after{
    z-index: -1;
    position: absolute;
    content: '';
    bottom: 1em;
    width: 50%;
    top: 80%;  
    background: $color-shadow;
    box-shadow: 0 1em .5em $color-shadow;   
  }
  &:before{
    transform: rotate(-3deg); 
    left: .5em;     
  }
  &:after{
    transform: rotate(3deg);    
    right: .5em;    
  }
}

.sobre-o-artista-button {
  margin-bottom: 20px;
}

#login-form {
  text-align: center;
  h2 {
    margin-bottom: 20px;
  }
  #send2 {
    width: 100%;
  }
}

.form-register {
  text-align: center;
  h2 {
    margin-bottom: 20px;
  }
  button {
    width: 100%;
  }
}

.form-inline.form-dob input {
    width: 60px;
}

.my-account {

}

.dashboard {
  .welcome-msg {
    text-align: center;
    margin: 0 0 30px 0;
    h1 {
      margin-top: 10px;
    }
  }
}

.facebook-header {
  img {
    height: 40px;
  }
  text-align: right;
  line-height: 40px;
  .pslogin-block {
    text-align: right;
    margin: 5px 0 0 0;
    .pslogin-button {
      margin: 0;
    }
  }
}
#search_mini_form {
  margin-top: 2px;
 .search-wrapper {
    input[type=search] {
      background: #ededed url(/media/theme/default/search-icon.png) no-repeat 4px center;
      background-size: 15px;
      padding: 7px 7px 6px 31px;
      height: 8px;
    }
  } 
}
.top-link {
  padding: 5px 0;
  
  ul.links {
    display:table;
    .cart {
      padding-left: 10px;
      .cart-mobile-wrapper {
        height: 27px;
        .top-cart-wrapper {
          margin: 0;
          .top-cart-title {
            line-height: 17px;
            a {
              color: black;
              float:left;
              margin-right: 5px;
            }
            a:hover {
              color: rgba(0, 0, 0, 0.7);
            }
          }
        }
      }
    }
    li {
      display: table-cell;
      vertical-align: middle;
      line-height: 27px;
      margin: 0;
      padding: 0 3px;
    }
    li:hover {
      border-bottom: 0;
    }
    li:hover a {
      border-bottom: 0;
      text-decoration: none;
      color: $link-hover-color;
    }
    .facebook-login {
      color: $link-color;
      .facebook-face {
        height: 27px;
        width: 27px;
      }
    }
    .pslogin-block {
      margin: 0;
      .pslogin-buttons {
        ul {
          li {
            margin: 0;
            height: 23px;
            .pslogin-button-link {
              heigh: 23px;
              .pslogin-button-auto {
                height: 23px;
                border-radius: 5px;
                .pslogin-button-icon {
                  height: 23px;
                  width: 23px;
                  background-size: 158px;
                  margin-left: 2px;
                }
                .pslogin-button-text {
                  height: 23px;
                  line-height: 23px;
                }
              }
            }
          }
        }
      }
      .pslogin-spacer {
        margin: 0;
      }
    }
  }
}

.nav-container {
  display: flex;
  align-items: center;
  border-top: 0;
  height: 70px;
  .pt_custommenu {
    border-bottom: 0px;
    a.social {
      font-size: 20pt;
      padding: 0 5px;
    }
    a.social:hover {
      text-decoration: none;
    }
  }
  .pt_custommenu div.pt_menu .parentMenu a, .pt_custommenu div.pt_menu .parentMenu span.block-title {
    // padding: 0px 9px;
  }
  .pt_custommenu div.pt_menu .parentMenu a:hover, .pt_custommenu div.pt_menu .parentMenu span.block-title:hover, .pt_custommenu #pt_menu_link ul li a.act, .pt_custommenu #pt_menu_link ul li a:hover, .pt_custommenu div.pt_menu.act .parentMenu a, .pt_custommenu div.pt_menu.active .parentMenu span.block-title {
    border: 0px;
    border-bottom: 1px solid #9b9b9b;
  }
  .popup {
    top: 40px;
    .block1 {
      padding: 20px;
      .column {
        width: 170px;
      }
    }
  }
}
.header {
  .header-content {
    padding: 10px 0;
  }
  a.logo {
    text-align: left;
  }
}




.affix-bottom { 
    position: absolute; 
}
.product-info-wrapper.affix {
    top: 100px;
    background-color: #FFF;
    z-index: 1000;
}

@media (min-width: 768px) {
    .product-info-wrapper.affix {
        position: fixed;
    }
}
@media (max-width: 767px) {
    .product-info-wrapper.affix {
        position: static;
    }
    .politicas {
        width: 100%;
        max-width: 100%;
    }
    .modal {
        padding-top: 100px;
        padding-bottom: 200px;
    }
}

.slick-slide {
  img {
    max-width: 100%;
  }
}
.products-slider-thumbs {
  font: 100% $roboto;
  .slick-slide {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    .artista {
      margin-top: 20px;
    }
    h2 {
      font-size: 10pt;
    }
  }
  h1 {
    font: 100% $carrois;
    font-size: 12pt;
    margin: 0;
    line-height: 0.5;
    text-align: center;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0vw;
    span {
      display: inline-block;
      position: relative;  
    }
    span:before,
    span:after {
      content: "";
      position: absolute;
      height: 5px;
      // border-bottom: 1px solid black;
      border-top: 1px solid black;
      top: 5px;
      width: 100vw;
    }
    span:before {
      right: 100%;
      margin-right: 15px;
    }
    span:after {
      left: 100%;
      margin-left: 15px;
    }
  }
  .slick-prev, .slick-next {
    top: 50%;
    width: 30px;
    height: 100%;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: white;
    border: none;
    outline: none;
    // background: rgba(245, 245, 245, 1);
    z-index: 1;
  }
  .slick-next {
    right: 0px;
  }
  .slick-prev {
    left: 0px;
  }
  .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color: white;
    outline: none;
    // background: rgba(245, 245, 245, 1);
  }
}

.gode-carousel {
  .slick-background-image {
    height: 220px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .slick-slide {
    position: relative;
    .descricao-wrap.active {
      bottom: 30px;
    }
    .descricao-wrap {
      @include transition-property(all);
      @include transition-duration(0.1s);
      position: absolute;
      bottom: -230px;
      left: 50%;
      margin-left: 0px;
      .descricao {
        background-color: rgba(255,255,255,0.7);
        width: 115px;
        height: 115px;
        text-align: center;
        display: flex;
        align-items: center;
        @include single-box-shadow(2px, 3px, 6px, 1px, rgba(0,0,0,0.7));
        .descricao-inner {
          width: 100%;
          a:hover {
            text-decoration: none;
          }
          h1, h2, p {
            font: 100% $roboto;
            color: #000000;
            
            font-weight: 400;
          }
          h1 {
            font-weight: 800;
            font-size: 9pt;
          }
          h2, p {
            font-size: 9pt;
          }
        }
      }
    }
  }
}

.product-img-box {
  img {
    max-width: 100%;
  }
  
}


.cart {
  .totals {
    background: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    td {
      padding: 1px 10px 1px 7px;
    }
    .checkout-types {
      padding: 8px 10px 0px;
    }
  }
}

@import "small";