<?xml version="1.0"?>
<config>
    <modules>
        <Gode_RenderSlider>
            <version>1.0</version>
        </Gode_RenderSlider>
    </modules>
    <global>
        <blocks>
            <renderslider>
                <class>Gode_RenderSlider_Block</class>
            </renderslider>
            <catalog>
                <rewrite>
                    <product_view>Gode_RenderSlider_Block_Catalog_Product_View</product_view>
                </rewrite>
            </catalog>
        </blocks>
    </global>
</config>